<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159057073825-ioeh41o31l2bp0i7db1jmu3es36qbi0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159057073825-ioeh41o31l2bp0i7db1jmu3es36qbi0q</string>
	<key>API_KEY</key>
	<string>AIzaSyA5_TOcsx2918hLPQW8XzQ5kEWuabjtz6I</string>
	<key>GCM_SENDER_ID</key>
	<string>159057073825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firstlogicmetalab.pizzaRomiPosNew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-pos-2aeb8</string>
	<key>STORAGE_BUCKET</key>
	<string>test-pos-2aeb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159057073825:ios:2a47243f3e02e3371982e0</string>
</dict>
</plist>